<?xml version="1.0"?>
<launch>
  <node pkg="rosbag" type="play" name="rosbag" required="true" args="/home/sherlock/catkin_ws/bagfiles/take_3.bag"/>
  <node name="extract" pkg="image_view" type="extract_images" respawn="false" required="true" output="screen" cwd="ROS_HOME">
    <remap from="image" to="/quad_f450_thermal_0/camera_quad_f450_thermal/image_raw"/>
  </node>
</launch>

<!-- Usage -->
<!-- roslaunch uav_crowd_control bag2vid.launch -->
<!-- mv ~/.ros/frame*.jpg images/ && cd images/ -->
<!-- ffmpeg -framerate 12 -i frame%04d.jpg -c:v libx264 -profile:v high -crf 10 -pix_fmt yuv420p output.mp4 -->
